body{
    background-color:rgb(243, 243, 243) ;
}
.navbar{
    background-color: black;
    overflow: hidden;
}
.navbar{
    float: center;
    color: whitesmoke;
    text-align: center;
    padding: 35px 500px;
    text-decoration: none;
    font-size: 3px;
}
.container{
    margin-top: 60px;
    margin-left: 300px;
    background-color: white;
    width: 900px;
    height: 230px;
}
img{
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 10px;
}
.row{
    display: flex;
}
.heading{
    margin-left: 20px;
    
}
